div{
    background-color: white;
    padding-left: 300px;

}

section{
    
    background-color: whitesmoke;
    height: 400px;
 padding: 100px 100px 100px 100px; 
     width: 400px; 
    text-align: center;
    cursor: pointer;
    font-family: sans-serif; 
}

h1{font-size: 40px;
    margin: 0 0 10px 0;
}

p{
    font-size: 50px;
    font-weight: bold;
    color: green;
    margin: 5px 0 10px 0;
}

button{
    font-size: 13px;
    border-radius: 10%;
    border: 2px solid;
    font-weight: 500;
    margin: 0 10px 0 0;
    padding: 4px 10px 4px 10px;
}

#increase{
    border-color: blue;
}